{% extends "expert_base.html" %}
{% block title %}{{ t.done_title }}{% endblock %}
{% block content %}
<section class="narrow-card card">
    <p class="eyebrow">{{ t.done_eyebrow }}</p>
    <h1>{{ t.done_h1 }}</h1>
    <p class="lead">{{ t.done_lead.format(code=response.expert_code, when=(' (' ~ response.submitted_at_label ~ ')') if response.submitted_at_label else '') }}</p>
    <p>{{ t.done_p }}</p>
    <div class="form-actions">
        <a class="button button-secondary" href="{{ url_for('expert.form', token=response.token) }}">{{ t.done_view }}</a>
        <a class="button button-primary" href="{{ url_for('expert.start') }}">{{ t.done_home }}</a>
    </div>
</section>
<div class="questionnaire-shell" style="padding-top:0">
    {% include '_expert_feedback_box.html' %}
    {% include '_expert_referral.html' %}
</div>
{% endblock %}
