<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PREDICT I. mérése</title>
    <style>
    
    </style>
    <script>
        function formatTAJ(input) {
            let value = input.value.replace(/\D/g, ''); // Remove all non-digit characters
            if (value.length > 6) {
                value = value.slice(0, 3) + '-' + value.slice(3, 6) + '-' + value.slice(6, 9);
            } else if (value.length > 3) {
                value = value.slice(0, 3) + '-' + value.slice(3, 6);
            }
            input.value = value;
        }
    </script>
</head>
<script>
function showQuestions() {
    const jawSelection = document.getElementById('denture_type').value;
    
    // Get all elements with class 'lower-jaw' and 'upper-jaw'
    const lowerJawQuestions = document.querySelectorAll('.lower-jaw');
    const upperJawQuestions = document.querySelectorAll('.upper-jaw');

    // Hide all lower-jaw and upper-jaw tables initially
    lowerJawQuestions.forEach(question => question.classList.add('hidden'));
    upperJawQuestions.forEach(question => question.classList.add('hidden'));

    // Show the appropriate tables based on the selection
    if (jawSelection === 'lower') {
        lowerJawQuestions.forEach(question => question.classList.remove('hidden'));
    } else if (jawSelection === 'upper') {
        upperJawQuestions.forEach(question => question.classList.remove('hidden'));
    } else if (jawSelection === 'both') {
        lowerJawQuestions.forEach(question => question.classList.remove('hidden'));
        upperJawQuestions.forEach(question => question.classList.remove('hidden'));
    }
}
</script>
<style>
    .hidden {
        display: none;
    }
</style>
<body>
    <div class="form-container">
        <h1>PREDICT STUDY</h1>
        <h2>I.</h2>
        <h2>Első felmérés a fogsor elkészülte <b>előtt</b></h2>
        <form action="/submit_questionnaire1" method="post">
            <label for="TAJ">TAJ:</label>
            <input type="text" id="TAJ" name="TAJ" pattern="\d{3}-\d{3}-\d{3}" oninput="formatTAJ(this)" maxlength="11" required>
            
            <label for="birthdate">Születési idő:</label>
            <input type="date" id="birthdate" name="birthdate" required>
            
            <label for="gender">Nem:</label>
            
            <select id="gender" name="gender" required>
                <option value="" disabled selected>Válasszon</option>
                <option value="Male">férfi</option>
                <option value="Female">nő</option>
            </select>

            <label for="denture_type">Milyen fogsort készítünk?:</label>
            
            <select id="denture_type" name="denture_type" onchange="showQuestions()" required>
                <option value="" disabled selected>Válasszon</option> 
                <option value="lower">csak alsót</option>
                <option value="upper">csak felsőt</option>
                <option value="both">felsőt és alsót is</option>
            </select>

            <h3>Hogyan jellemezné a fogai és szája egészségét a mai napon?</h3>
            <div class="radio-group">
                <input type="radio" id="responsiveness_today_situation_kivalo" name="responsiveness_today_situation" value="Kiváló" required checked>
                <label for="responsiveness_today_situation_kivalo">Kiváló</label>
                <input type="radio" id="responsiveness_today_situation_jo" name="responsiveness_today_situation" value="Jó">
                <label for="responsiveness_today_situation_jo">Jó</label>
                <input type="radio" id="responsiveness_today_situation_atlagos" name="responsiveness_today_situation" value="Átlagos">
                <label for="responsiveness_today_situation_atlagos">Átlagos</label>
                <input type="radio" id="responsiveness_today_situation_rossz" name="responsiveness_today_situation" value="Rossz">
                <label for="responsiveness_today_situation_rossz">Rossz</label>
                <input type="radio" id="responsiveness_today_situation_nagyon_rossz" name="responsiveness_today_situation" value="Nagyon rossz">
                <label for="responsiveness_today_situation_nagyon_rossz">Nagyon rossz</label>
            </div>
            <h3>Hogyan jellemezné a rágóképességét a mai napon?</h3>
            <div class="radio-group">
                <input type="radio" id="chewing_today_situation_kivalo" name="chewing_today_situation" value="Kiváló" required checked>
                <label for="chewing_today_situation_kivalo">Kiváló</label>
                <input type="radio" id="chewing_today_situation_jo" name="chewing_today_situation" value="Jó">
                <label for="chewing_today_situation_jo">Jó</label>
                <input type="radio" id="chewing_today_situation_atlagos" name="chewing_today_situation" value="Átlagos">
                <label for="chewing_today_situation_atlagos">Átlagos</label>
                <input type="radio" id="chewing_today_situation_rossz" name="chewing_today_situation" value="Rossz">
                <label for="chewing_today_situation_rossz">Rossz</label>
                <input type="radio" id="chewing_today_situation_nagyon_rossz" name="chewing_today_situation" value="Nagyon rossz">
                <label for="chewing_today_situation_nagyon_rossz">Nagyon rossz</label>
            </div>

            <h3>OHIP (Oral Health Impact Profile) kérdések</h3>
            <label for="OHIP_1">Volt-e rágással kapcsolatos nehézsége a fogak, a száj, vagy a protézis problémája miatt?</label>
            <div class="radio-group">
                <input type="radio" id="OHIP_1_nagyon_gyakran" name="OHIP_1" value="4" required checked>
                <label for="OHIP_1_nagyon_gyakran">Nagyon gyakran</label>
                <input type="radio" id="OHIP_1_gyakran" name="OHIP_1" value="3">
                <label for="OHIP_1_gyakran">Gyakran</label>
                <input type="radio" id="OHIP_1_neha" name="OHIP_1" value="2">
                <label for="OHIP_1_neha">Néha</label>
                <input type="radio" id="OHIP_1_ritkan" name="OHIP_1" value="1">
                <label for="OHIP_1_ritkan">Ritkán</label>
                <input type="radio" id="OHIP_1_soha" name="OHIP_1" value="0">
                <label for="OHIP_1_soha">Soha</label>
            </div>

            <label for="OHIP_2">Érzett-e fokozott fájdalmat a szájában?</label><br>
            <div class="radio-group">
                <input type="radio" id="OHIP_2_nagyon_gyakran" name="OHIP_2" value="4" required checked>
                <label for="OHIP_2_nagyon_gyakran">Nagyon gyakran</label>
                <input type="radio" id="OHIP_2_gyakran" name="OHIP_2" value="3">
                <label for="OHIP_2_gyakran">Gyakran</label>
                <input type="radio" id="OHIP_2_neha" name="OHIP_2" value="2">
                <label for="OHIP_2_neha">Néha</label>
                <input type="radio" id="OHIP_2_ritkan" name="OHIP_2" value="1">
                <label for="OHIP_2_ritkan">Ritkán</label>
                <input type="radio" id="OHIP_2_soha" name="OHIP_2" value="0">
                <label for="OHIP_2_soha">Soha</label><br><br>
            </div>

            <label for="OHIP_3">Érezte magát kényelmetlenül a fogak, a száj, vagy a protézis megjelenése miatt?</label><br>
            <div class="radio-group">
                <input type="radio" id="OHIP_3_nagyon_gyakran" name="OHIP_3" value="4" required checked>
                <label for="OHIP_3_nagyon_gyakran">Nagyon gyakran</label>
                <input type="radio" id="OHIP_3_gyakran" name="OHIP_3" value="3">
                <label for="OHIP_3_gyakran">Gyakran</label>
                <input type="radio" id="OHIP_3_neha" name="OHIP_3" value="2">
                <label for="OHIP_3_neha">Néha</label>
                <input type="radio" id="OHIP_3_ritkan" name="OHIP_3" value="1">
                <label for="OHIP_3_ritkan">Ritkán</label>
                <input type="radio" id="OHIP_3_soha" name="OHIP_3" value="0">
                <label for="OHIP_3_soha">Soha</label><br><br>
            </div>

            <label for="OHIP_4">Kevésbé érzékelhető volt-e az étel íze a fogakkal, a szájjal vagy a protézissel kapcsolatos problémája miatt?</label><br>
            <div class="radio-group">
                <input type="radio" id="OHIP_4_nagyon_gyakran" name="OHIP_4" value="4" required checked>
                <label for="OHIP_4_nagyon_gyakran">Nagyon gyakran</label>
                <input type="radio" id="OHIP_4_gyakran" name="OHIP_4" value="3">
                <label for="OHIP_4_gyakran">Gyakran</label>
                <input type="radio" id="OHIP_4_neha" name="OHIP_4" value="2">
                <label for="OHIP_4_neha">Néha</label>
                <input type="radio" id="OHIP_4_ritkan" name="OHIP_4" value="1">
                <label for="OHIP_4_ritkan">Ritkán</label>
                <input type="radio" id="OHIP_4_soha" name="OHIP_4" value="0">
                <label for="OHIP_4_soha">Soha</label><br><br>
            </div>

            <label for="OHIP_5">Voltak nehézségei a szokásos munkavégzésben a fogakkal, a szájjal vagy a protézissel kapcsolatos problémája miatt?</label><br>
            <div class="radio-group">
                <input type="radio" id="OHIP_5_nagyon_gyakran" name="OHIP_5" value="4" required checked>
                <label for="OHIP_5_nagyon_gyakran">Nagyon gyakran</label>
                <input type="radio" id="OHIP_5_gyakran" name="OHIP_5" value="3">
                <label for="OHIP_5_gyakran">Gyakran</label>
                <input type="radio" id="OHIP_5_neha" name="OHIP_5" value="2">
                <label for="OHIP_5_neha">Néha</label>
                <input type="radio" id="OHIP_5_ritkan" name="OHIP_5" value="1">
                <label for="OHIP_5_ritkan">Ritkán</label>
                <input type="radio" id="OHIP_5_soha" name="OHIP_5" value="0">
                <label for="OHIP_5_soha">Soha</label><br><br>
            </div>
            <h3>GOHAI (General Oral Health Assessment Index) kérdések</h3>
            <h4>Milyen gyakran fordult elő az elmúlt 3 hónapban,</h4>

            <label for="GOHAI_1">… hogy a fogaival, fogpótlásával vagy műfogsorával kapcsolatos problémák miatt kevesebbet evett, vagy másfajta ételeket választott?</label>
            <div class="radio-group">
                <label><input type="radio" id="GOHAI_1_mindig" name="GOHAI_1" value="1" required checked> mindig</label>
                <label><input type="radio" id="GOHAI_1_gyakran" name="GOHAI_1" value="2"> gyakran</label>
                <label><input type="radio" id="GOHAI_1_neha" name="GOHAI_1" value="3"> néha</label>
                <label><input type="radio" id="GOHAI_1_ritkan" name="GOHAI_1" value="4"> ritkán</label>
                <label><input type="radio" id="GOHAI_1_soha" name="GOHAI_1" value="5"> soha</label>
            </div>

            <label for="GOHAI_2">… hogy nehézséget okozott valamilyen típusú étel harapása vagy rágása? (például rostos húsok vagy alma)</label>
            <div class="radio-group">
                <label><input type="radio" id="GOHAI_2_mindig" name="GOHAI_2" value="1" required checked> mindig</label>
                <label><input type="radio" id="GOHAI_2_gyakran" name="GOHAI_2" value="2"> gyakran</label>
                <label><input type="radio" id="GOHAI_2_neha" name="GOHAI_2" value="3"> néha</label>
                <label><input type="radio" id="GOHAI_2_ritkan" name="GOHAI_2" value="4"> ritkán</label>
                <label><input type="radio" id="GOHAI_2_soha" name="GOHAI_2" value="5"> soha</label>
            </div>

            <label for="GOHAI_3">… hogy nehezen nyelt?</label>
            <div class="radio-group">
                <label><input type="radio" id="GOHAI_3_mindig" name="GOHAI_3" value="1" required checked> mindig</label>
                <label><input type="radio" id="GOHAI_3_gyakran" name="GOHAI_3" value="2"> gyakran</label>
                <label><input type="radio" id="GOHAI_3_neha" name="GOHAI_3" value="3"> néha</label>
                <label><input type="radio" id="GOHAI_3_ritkan" name="GOHAI_3" value="4"> ritkán</label>
                <label><input type="radio" id="GOHAI_3_soha" name="GOHAI_3" value="5"> soha</label>
            </div>

            <label for="GOHAI_4">… hogy fogai, fogpótlása vagy műfogsora miatt nem tudta úgy kiejteni a szavakat, ahogy szeretné?</label>
            <div class="radio-group">
                <label><input type="radio" id="GOHAI_4_mindig" name="GOHAI_4" value="1" required checked> mindig</label>
                <label><input type="radio" id="GOHAI_4_gyakran" name="GOHAI_4" value="2"> gyakran</label>
                <label><input type="radio" id="GOHAI_4_neha" name="GOHAI_4" value="3"> néha</label>
                <label><input type="radio" id="GOHAI_4_ritkan" name="GOHAI_4" value="4"> ritkán</label>
                <label><input type="radio" id="GOHAI_4_soha" name="GOHAI_4" value="5"> soha</label>
            </div>

            <label for="GOHAI_5">… hogy kellemetlenséggel járt az evés?</label>
            <div class="radio-group">
                <label><input type="radio" id="GOHAI_5_mindig" name="GOHAI_5" value="1" required checked> mindig</label>
                <label><input type="radio" id="GOHAI_5_gyakran" name="GOHAI_5" value="2"> gyakran</label>
                <label><input type="radio" id="GOHAI_5_neha" name="GOHAI_5" value="3"> néha</label>
                <label><input type="radio" id="GOHAI_5_ritkan" name="GOHAI_5" value="4"> ritkán</label>
                <label><input type="radio" id="GOHAI_5_soha" name="GOHAI_5" value="5"> soha</label>
            </div>

            <label for="GOHAI_6">… hogy fogai, fogpótlása vagy műfogsora állapota miatt kevesebbet találkozott másokkal?</label>
            <div class="radio-group">
                <label><input type="radio" id="GOHAI_6_mindig" name="GOHAI_6" value="1" required checked> mindig</label>
                <label><input type="radio" id="GOHAI_6_gyakran" name="GOHAI_6" value="2"> gyakran</label>
                <label><input type="radio" id="GOHAI_6_neha" name="GOHAI_6" value="3"> néha</label>
                <label><input type="radio" id="GOHAI_6_ritkan" name="GOHAI_6" value="4"> ritkán</label>
                <label><input type="radio" id="GOHAI_6_soha" name="GOHAI_6" value="5"> soha</label>
            </div>

            <label for="GOHAI_7">… hogy elégedetlen volt fogai, ínye, fogpótlása vagy műfogsora kinézetével?</label>
            <div class="radio-group">
                <label><input type="radio" id="GOHAI_7_mindig" name="GOHAI_7" value="1" required checked> mindig</label>
                <label><input type="radio" id="GOHAI_7_gyakran" name="GOHAI_7" value="2"> gyakran</label>
                <label><input type="radio" id="GOHAI_7_neha" name="GOHAI_7" value="3"> néha</label>
                <label><input type="radio" id="GOHAI_7_ritkan" name="GOHAI_7" value="4"> ritkán</label>
                <label><input type="radio" id="GOHAI_7_soha" name="GOHAI_7" value="5"> soha</label>
            </div>

            <label for="GOHAI_8">… hogy a szájában vagy szája környékén érzett fájdalom vagy kellemetlenség enyhítésére gyógyszert használt?</label>
            <div class="radio-group">
                <label><input type="radio" id="GOHAI_8_mindig" name="GOHAI_8" value="1" required checked> mindig</label>
                <label><input type="radio" id="GOHAI_8_gyakran" name="GOHAI_8" value="2"> gyakran</label>
                <label><input type="radio" id="GOHAI_8_neha" name="GOHAI_8" value="3"> néha</label>
                <label><input type="radio" id="GOHAI_8_ritkan" name="GOHAI_8" value="4"> ritkán</label>
                <label><input type="radio" id="GOHAI_8_soha" name="GOHAI_8" value="5"> soha</label>
            </div>

            <label for="GOHAI_9">… hogy aggódott a fogai, ínye, fogpótlása vagy műfogsora állapota miatt?</label>
            <div class="radio-group">
                <label><input type="radio" id="GOHAI_9_mindig" name="GOHAI_9" value="1" required checked> mindig</label>
                <label><input type="radio" id="GOHAI_9_gyakran" name="GOHAI_9" value="2"> gyakran</label>
                <label><input type="radio" id="GOHAI_9_neha" name="GOHAI_9" value="3"> néha</label>
                <label><input type="radio" id="GOHAI_9_ritkan" name="GOHAI_9" value="4"> ritkán</label>
                <label><input type="radio" id="GOHAI_9_soha" name="GOHAI_9" value="5"> soha</label>
            </div>

            <label for="GOHAI_10">… hogy zavarba jött vagy kellemetlenül érezte magát fogai, ínye, fogpótlása vagy műfogsora állapota miatt?</label>
            <div class="radio-group">
                <label><input type="radio" id="GOHAI_10_mindig" name="GOHAI_10" value="1" required checked> mindig</label>
                <label><input type="radio" id="GOHAI_10_gyakran" name="GOHAI_10" value="2"> gyakran</label>
                <label><input type="radio" id="GOHAI_10_neha" name="GOHAI_10" value="3"> néha</label>
                <label><input type="radio" id="GOHAI_10_ritkan" name="GOHAI_10" value="4"> ritkán</label>
                <label><input type="radio" id="GOHAI_10_soha" name="GOHAI_10" value="5"> soha</label>
            </div>

            <label for="GOHAI_11">… hogy fogai, fogpótlása vagy műfogsora miatt kellemetlennek érezte, hogy mások jelenlétében egyen?</label>
            <div class="radio-group">
                <label><input type="radio" id="GOHAI_11_mindig" name="GOHAI_11" value="1" required checked> mindig</label>
                <label><input type="radio" id="GOHAI_11_gyakran" name="GOHAI_11" value="2"> gyakran</label>
                <label><input type="radio" id="GOHAI_11_neha" name="GOHAI_11" value="3"> néha</label>
                <label><input type="radio" id="GOHAI_11_ritkan" name="GOHAI_11" value="4"> ritkán</label>
                <label><input type="radio" id="GOHAI_11_soha" name="GOHAI_11" value="5"> soha</label>
            </div>

            <label for="GOHAI_12">… hogy fogai vagy ínye érzékenyek voltak melegre, hidegre vagy édesre?</label>
            <div class="radio-group">
                <label><input type="radio" id="GOHAI_12_mindig" name="GOHAI_12" value="1" required checked> mindig</label>
                <label><input type="radio" id="GOHAI_12_gyakran" name="GOHAI_12" value="2"> gyakran</label>
                <label><input type="radio" id="GOHAI_12_neha" name="GOHAI_12" value="3"> néha</label>
                <label><input type="radio" id="GOHAI_12_ritkan" name="GOHAI_12" value="4"> ritkán</label>
                <label><input type="radio" id="GOHAI_12_soha" name="GOHAI_12" value="5"> soha</label>
            </div>

            <h3>Fizikális vizsgálat</h3>
            <table class="upper-jaw hidden">
                <caption style="caption-side: top; text-align: left; font-size:medium">
                    Klinikai anatómiai képletek a felső állcsonton:
                </caption>   
                <thead>
                    <tr>
                        <th>Anatómiai képlet</th>
                        <th>Válaszok</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>F5<br>Lötyögő, csontmag nélküli gerinc jelenléte</td>
                        <td class="radio-group">
                            <input type="hidden" name="F5_null" value="">
                            <label><input type="radio" name="F5" value="1"> nincs</label>
                            <label><input type="radio" name="F5" value="2"> van, „lötyögő“ tuberek</label>
                            <label><input type="radio" name="F5" value="3"> van, frontális gerincen</label>
                        </td>
                    </tr>
                    <tr>
                        <td>F7<br>Torus palatinus</td>
                        <td class="radio-group">
                            <input type="hidden" name="F7_null" value="">
                            <label><input type="radio" name="F7" value="1"> nincs</label>
                            <label><input type="radio" name="F7" value="2"> plató alakú</label>
                            <label><input type="radio" name="F7" value="3"> orsó alakú</label>
                        </td>
                    </tr>
                    <tr>
                        <td>F8<br>Az antagonista fogazat</td>
                        <td class="radio-group">
                            <input type="hidden" name="F8_null" value="">
                            <label><input type="radio" name="F8" value="1"> nincs, most készül</label>
                            <label><input type="radio" name="F8" value="2"> teljes lemezes fogpótlás vagy overdenture vagy részleges fémlemezes fogpótlás</label>
                            <label><input type="radio" name="F8" value="3"> teljesen megtartott vagy rögzített fogpótlással helyreállított</label>
                        </td>
                    </tr>
            </table>
            <table class="lower-jaw hidden">
                <caption style="caption-side: top; text-align: left; font-size:medium">
                    Klinikai anatómiai képletek az alsó állcsonton:
                </caption>   
                <tr>
                    <td>A1 Kaán szerint: <br>Az alsó állcsontgerinc alakja</td>
                    <td class="radio-group">
                        <input type="hidden" name="A1_Kaan_null" value="">
                        <label><input type="radio" name="A1_Kaan" value="1"> egészében megtartott</label>
                        <label><input type="radio" name="A1_Kaan" value="2"> elöl megtartott, oldalt lapos</label>
                        <label><input type="radio" name="A1_Kaan" value="3"> egészében lapos</label>
                        <label><input type="radio" name="A1_Kaan" value="4"> negatív</label>
                        <label><input type="radio" name="A1_Kaan" value="5"> mélyült negatív</label>
                    </td>
                </tr>
            </table>
            <table class="lower-jaw hidden">
                <thead>
                    <tr>
                        <th>Oldalanként vizsgálandók</th>
                        <th>Jobb</th>
                        <th>Bal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>A3<br>A buccinator tasak</td>
                        <td class="radio-group">
                            <input type="hidden" name="A3_jobb_null" value="">
                            <label><input type="radio" name="A3_jobb" value="1"> szájnyitáskor beszűkülő</label>
                            <label><input type="radio" name="A3_jobb" value="2"> szájnyitáskor kiszélesedő</label>
                            <label><input type="radio" name="A3_jobb" value="3"> lebenyezett felszínű</label>
                        </td>
                        <td class="radio-group">
                            <input type="hidden" name="A3_bal_null" value="">
                            <label><input type="radio" name="A3_bal" value="1"> szájnyitáskor beszűkülő</label>
                            <label><input type="radio" name="A3_bal" value="2"> szájnyitáskor kiszélesedő</label>
                            <label><input type="radio" name="A3_bal" value="3"> lebenyezett felszínű</label>
                        </td>
                    </tr>
                    <tr>
                        <td>A4<br>Torus mandibularis</td>
                        <td class="radio-group">
                            <input type="hidden" name="A4_jobb_null" value="">
                            <label><input type="radio" name="A4_jobb" value="1"> nincs</label>
                            <label><input type="radio" name="A4_jobb" value="2"> nagy méretű</label>
                            <label><input type="radio" name="A4_jobb" value="3"> kis méretű</label>
                        </td>
                        <td class="radio-group">
                            <input type="hidden" name="A4_bal_null" value="">
                            <label><input type="radio" name="A4_bal" value="1"> nincs</label>
                            <label><input type="radio" name="A4_bal" value="2"> nagy méretű</label>
                            <label><input type="radio" name="A4_bal" value="3"> kis méretű</label>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="lower-jaw hidden">
                <thead>
                    <tr>
                        <th>A retromolaris tájék értékelése</th>
                        <th>Jobb</th>
                        <th>Bal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>A5<br>a lingualis tasak</td>
                        <td class="radio-group">
                            <input type="hidden" name="A5_jobb_null" value="">
                            <label><input type="radio" name="A5_jobb" value="1"> nyeléskor a környező izmok nem szűkítik</label>
                            <label><input type="radio" name="A5_jobb" value="2"> nyeléskor a környező izmok ujjunkat a mandibulához préselik</label>
                            <label><input type="radio" name="A5_jobb" value="3"> nyeléskor a környező izmok ujjunkat kifelé préselik</label>
                        </td>
                        <td class="radio-group">
                            <input type="hidden" name="A5_bal_null" value="">
                            <label><input type="radio" name="A5_bal" value="1"> nyeléskor a környező izmok nem szűkítik</label>
                            <label><input type="radio" name="A5_bal" value="2"> nyeléskor a környező izmok ujjunkat a mandibulához préselik</label>
                            <label><input type="radio" name="A5_bal" value="3"> nyeléskor a környező izmok ujjunkat kifelé préselik</label>
                        </td>
                    </tr>
                    <tr>
                        <td>A6<br>a tuberculum mekkora hányadát borítja feszes íny?</td>
                        <td class="radio-group">
                            <input type="hidden" name="A6_jobb_null" value="">
                            <label><input type="radio" name="A6_jobb" value="1"> az egészet</label>
                            <label><input type="radio" name="A6_jobb" value="2"> elülső harmadát</label>
                            <label><input type="radio" name="A6_jobb" value="3"> egyáltalán nem</label>
                        </td>
                        <td class="radio-group">
                            <input type="hidden" name="A6_bal_null" value="">
                            <label><input type="radio" name="A6_bal" value="1"> az egészet</label>
                            <label><input type="radio" name="A6_bal" value="2"> elülső harmadát</label>
                            <label><input type="radio" name="A6_bal" value="3"> egyáltalán nem</label>
                        </td>
                    </tr>
                    <tr>
                        <td>A7<br>a tuberculum alakja, mérete</td>
                        <td class="radio-group">
                            <input type="hidden" name="A7_jobb_null" value="">
                            <label><input type="radio" name="A7_jobb" value="1"> fordított körte alakú</label>
                            <label><input type="radio" name="A7_jobb" value="2"> kicsi, de környezetétől elváló</label>
                            <label><input type="radio" name="A7_jobb" value="3"> plicaszerű</label>
                        </td>
                        <td class="radio-group">
                            <input type="hidden" name="A7_bal_null" value="">
                            <label><input type="radio" name="A7_bal" value="1"> fordított körte alakú</label>
                            <label><input type="radio" name="A7_bal" value="2"> kicsi, de környezetétől elváló</label>
                            <label><input type="radio" name="A7_bal" value="3"> plicaszerű</label>
                        </td>
                    </tr>
                    <tr>
                        <td>A8<br>a tuberculum-gerinc inklinációs szög</td>
                        <td class="radio-group">
                            <input type="hidden" name="A8_jobb_null" value="">
                            <label><input type="radio" name="A8_jobb" value="1"> nincs szögeltérés</label>
                            <label><input type="radio" name="A8_jobb" value="2"> jelentős szögeltérés</label>
                            <label><input type="radio" name="A8_jobb" value="3"> plicaszerű, nem vizsgálható</label>
                        </td>
                        <td class="radio-group">
                            <input type="hidden" name="A8_bal_null" value="">
                            <label><input type="radio" name="A8_bal" value="1"> nincs szögeltérés</label>
                            <label><input type="radio" name="A8_bal" value="2"> jelentős szögeltérés</label>
                            <label><input type="radio" name="A8_bal" value="3"> plicaszerű, nem vizsgálható</label>
                        </td>
                    </tr>
                    <tr>
                        <td>A9<br>a tuberculum alakváltozása szájnyitás-szájzáráskor</td>
                        <td class="radio-group">
                            <input type="hidden" name="A9_jobb_null" value="">
                            <label><input type="radio" name="A9_jobb" value="1"> nem változik</label>
                            <label><input type="radio" name="A9_jobb" value="2"> kissé változik</label>
                            <label><input type="radio" name="A9_jobb" value="3"> abszolút mozgékony</label>
                        </td>
                        <td class="radio-group">
                            <input type="hidden" name="A9_bal_null" value="">
                            <label><input type="radio" name="A9_bal" value="1"> nem változik</label>
                            <label><input type="radio" name="A9_bal" value="2"> kissé változik</label>
                            <label><input type="radio" name="A9_bal" value="3"> abszolút mozgékony</label>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="lower-jaw hidden">
                <thead>
                    <tr>
                        <th>Globálisan vizsgálandók</th>
                        <th>Válaszok</th>
                    </tr>
                </thead>
                <tbody>
              
                    <tr>
                        <td>A11<br>A szublingualis tájék vizsgálata</td>
                        <td class="radio-group">
                            <input type="hidden" name="A11_null" value="">
                            <label><input type="radio" name="A11" value="1"> nem elő-domborodó</label>
                            <label><input type="radio" name="A11" value="2"> puhán elő-domborodó</label>
                            <label><input type="radio" name="A11" value="3"> tömött elő-domborodó</label>
                        </td>
                    </tr>
                    <tr>
                        <td>A12<br>A spinae mentales</td>
                        <td class="radio-group">
                            <input type="hidden" name="A12_null" value="">
                            <label><input type="radio" name="A12" value="1"> nem tapintható</label>
                            <label><input type="radio" name="A12" value="2"> tapintható</label>
                            <label><input type="radio" name="A12" value="3"> nyomásra érzékeny</label>
                        </td>
                    </tr>
                    <tr>
                        <td>A13<br>TMI funkció</td>
                        <td class="radio-group">
                            <input type="hidden" name="A13_null" value="">
                            <label><input type="radio" name="A13" value="1"> panaszmentes</label>
                            <label><input type="radio" name="A13" value="2"> hangjelenség fájdalom vagy mozgáskorlátozottság nélkül</label>
                            <label><input type="radio" name="A13" value="3"> fájdalom és/vagy mozgáskorlátozottság</label>
                        </td>
                    </tr>
                    <tr>
                        <td>A14<br>Az antagonista fogazat</td>
                        <td class="radio-group">
                            <input type="hidden" name="A14_null" value="">
                            <label><input type="radio" name="A14" value="1"> nincs</label>
                            <label><input type="radio" name="A14" value="2"> teljes lemezes fogpótlás vagy overdenture vagy részleges fémlemezes fogpótlás</label>
                            <label><input type="radio" name="A14" value="3"> teljesen megtartott vagy rögzített fogpótlással helyreállított</label>
                        </td>
                    </tr>
                </tbody>
            </table>

            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>

